#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background-image :url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsqhClpRuCHtxWxvLabn0bXD67zVta7KD4IH3iBgpPo-XvsRY6H1T-T3CiH8wqt-sVcro&usqp=CAU") ;
}